.our-patner {
    padding: 90px 0px 90px 0px;
}
.our-patner .content-header h1 {
    font-size: 35px;
    font-weight: 500;
    color: #1e1e1e;
}

.our-patner p {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 1.5;
    color: $secondary;
}

.our-patner .nav-item .nav-link {
    padding: 0;
    border: 1px solid #e3e3e3;
}

.our-patner .nav-item .nav-link img {
    width: 120px;
    transition: .1s ease-in-out;
    overflow: visible;
    margin: 0 auto;
}

.our-patner .nav-item .nav-link:hover img {
    background: #ffffff;
    transition: .2s ease-in-out;
    transform: scale(1.7);
    box-shadow: 0px 5px 40px -15px;
}