.company-profile .sidebar {
	width: 100%;
	height: 100%;
	display: block;
	background: $light;
	text-align: center;
}
.company-profile .sidebar .logo {
    width: 160px;
    height: 160px;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #fff;
    padding: 10px;
    margin-bottom: 15px;
}
.company-profile .sidebar h1 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
}
.company-profile .sidebar h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
.company-profile .sidebar p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

.company-profile .banner {
	position: relative;
}

.company-profile .member-no {
	position: relative;
    width: 100%;
    height: 100%;
    background: $light;
}

.company-profile .member-no::before {
	content: "";
    position: absolute;
    border-bottom: 240px solid $light;
    border-left: 100px solid transparent;
    border-right: 0px solid transparent;
    height: 100%;
    top: 0;
    margin-left: -100px;
}

.company-profile .member-no .shape {
	position: absolute;
	width: 100%;
	height: 300px;
	background: rgba(109, 200, 190, 0.2);
	top: 0;
	right: 0;
	transform: rotate(45deg);
	margin-right: -110px;
	border-radius: 40px;
}

.company-profile .member-no .content {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 2rem 3rem 0rem 0rem;
    overflow: hidden;
}
.company-profile .member-no .content .content-body {
	position: relative;
}

.company-profile .member-no .content .basis-logo {
    width: 10rem;
}

.company-profile .member-no .content h1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.company-profile .member-no .content h3 {
    font-size: 1.12rem;
    font-weight: 600;
    margin-bottom: 20px;
}


.company-profile .member-no .content .btn-explore {
	color: #fff;
    background: $secondary;
    border-radius: 50px;
}

.company-profile .member-no .content .btn-outline-explore {
    color: $danger;
    border: 2px solid $danger;
    border-radius: 50px;
}

.company-profile .member-no .content .btn-outline-explore i {
	padding-right: 5px;
}

.company-profile .social {
	position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 20px;
}
.company-profile .social .nav {
    background: rgba(0 ,0 ,0 ,0.4);
}

.company-profile .social .nav-item .nav-link {
	padding: 0.5rem;
}

.company-profile .social .nav-item .nav-link img {
	width: 25px;
}

.company-profile .bref h4 {
    font-size: 20px;
    color: #000;
}
.company-profile .bref p {
    font-size: 14px;
    color: #000;
    text-align: justify;
    line-height: 1.8;
}

.company-profile .bref .btn-custom {
    color: #000;
}

.company-profile .card-box {
    background: $light;
}

.company-profile .card-box .card-header {
    text-align: center;
    border: 0;
    background-color: transparent;
}

.company-profile .card-box .card-header .rep-img {
    margin-top: -30px;
    width: 110px;
    height: 110px;
    object-fit: cover;
    border: 2px solid $light;
    border-radius: 50%;
}
.company-profile .card-box .card-body {
    text-align: center;
}
.company-profile .card-box .card-body h4 {
    font-size: 18px;
    margin-bottom: 0;
}
.company-profile .card-box .card-body h1 {
    font-size: 20px;
    margin-bottom: 0;
}
.company-profile .card-box .card-body p {
    font-size: 14px;
    margin-bottom: 0;
}

.company-profile .services {
    background-color: transparent;
    padding: 0;
}

.company-profile .services .nav-item .nav-link {
    padding: 0.5rem 1.5rem;
    font-size: 14px;
    color: #000;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $primary;
}
.company-profile .services .nav-item .nav-link::before {
    content: "\f05a";
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 14px;
    position: absolute;
    left: 0;
    color: $primary;
}

.company-profile .products .product-item {
    text-align: center;
    border: 2px dashed $primary;
    padding: 1rem;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 50px;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-profile .products h4 {
    margin-bottom: 20px;
}

.company-profile .products img {
    width: 40px;
    margin-bottom: 10px;
}

.company-profile .products h5 {
    font-size: 15px;
}

.company-profile .expertise {
    background: $light;
}

.company-profile .expertise .owl-nav {
    padding-top: 10px;
}

.company-profile .expertise .owl-nav .owl-prev,
.company-profile .expertise .owl-nav .owl-next {
    padding: 0px 5px!important;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
}

.company-profile .expertise .owl-nav .owl-next {
    margin-left: 5px;
}



.company-profile .information-blog {
    background: $light;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;

}

.company-profile .information-blog .count-box {
    text-align: center;
}
.company-profile .information-blog .count-box span {
    font-size: 34px;
    font-weight: bold;
    width: 100px;
    display: block;
    height: 100px;
    border: 2px solid;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.company-profile .information-blog .count-box h5 {
    font-size: 20px;
    font-weight: bold;
}

.company-profile .industry-expertise .industry-expertise-item {
    background: #fff;
    border: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

.company-profile .industry-expertise .industry-expertise-item span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

.company-profile .industry-expertise .industry-expertise-item h5 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.company-profile .expertise .expertise-title {
    background: $primary;
}

.company-profile .expertise .expertise-title .card-body::before {
    content: "";
    border-left: 40px solid $primary;
    border-top: 40px solid #fff3f3;
    border-bottom: 35px solid #fff3f3;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.company-profile .expertise .expertise-title h4 {
    padding: 0.2rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
}

.company-profile .expertise .owl-carousel .item h5 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.company-profile .recent-activites .nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 0;
}

.company-profile .recent-activites .nav .nav-item .nav-link img {
    height: 80px;
}
.company-profile .recent-activites .nav .nav-item .nav-link p {
    width: 80%;
    font-size: 12px;
    font-weight: 600;
    color: $black;
    padding: 0.225rem 0.5rem;
    transition: all 0.3s ease;
}

.company-profile .prominent-client .nav li {
    padding: 5px;
}
.company-profile .prominent-client .nav li img {
    width: 75px;
}


.company-profile .footer-address address {
    font-size: 14px;
}
.company-profile .footer-address p {
    font-size: 14px;
}

.company-profile .profile-title {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.company-profile .profile-title::before {
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -5px;
    background: $primary;
    
}

.company-profile .company-footer {
    background: $light;
}
.company-profile .company-footer .btn-outline-explore {
    color: $secondary;
    border: 2px solid $secondary;
    border-radius: 50px;
}
.platform {

    .nav-link {
            padding: 0.5rem 1.5rem;
            font-size: 14px;
            color: $dark;
            position: relative;
            display: flex;
            align-items: center;

        &::before {
            content: "\f05a";
            font: normal normal normal 24px/1 "Material Design Icons";
            font-size: 14px;
            position: absolute;
            left: 0;
            color: $primary;
        }
    }
}

.gallery {
    .nav-link {
        padding: 0.5rem 1.5rem;
        font-size: 14px;
        color: $dark;
        position: relative;
        display: flex;
        align-items: center;

        &::before {
            content: "\f05a";
            font: normal normal normal 24px/1 "Material Design Icons";
            font-size: 14px;
            position: absolute;
            left: 0;
            color: $primary;
        }
    }
}