.services {
    position: relative;
    overflow: hidden;
    padding: 4rem 0;
    background: rgba(109, 200, 190, 0.2);
    background-attachment: fixed;

    .shape1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 500px;
        height: 100%;
        margin-left: -350px;
        background: rgba(0, 127, 61, 0.06);
        transform: rotate(45deg);
        border-radius: 0;
        animation: anime-right1 3s ease-in-out;
    }
    .shape2 {
        position: absolute;
        right: 5%;
        top: 0%;
        width: 200px;
        height: 200px;
        margin-top: -100px;
        background: $success;
        display: block;
        transform: rotate(45deg);
        opacity: 0.1;
        animation: anime-right2 3s ease-in;
    }
    .nav-tabs {
        position: relative;
        border: 0;

        .nav-item {

            .nav-link {
                color: $primary;
                border: 1px solid $primary;
                border-radius: 0;
                font-size: 1.1rem;
                font-weight: 500;

                &.active {
                    color: #fff;
                    background: $primary;
                }
            }
        }
    }

    .service-item {
        padding: 30px 0;
        
        .card {
            background-size: cover;
            height: 100%;
            text-align: center;
            overflow: hidden;
            border-radius: 20px;
            cursor: pointer;

            h3 {
                font-size: 18px;
                color: #000;
                font-weight: 600;
            }

            .iconbox {
                width: 83px;
                height: 83px;
                border: 2px solid #ccc;
                transform: rotate(45deg);
                border-radius: 7px;
                text-align: center;
                position: relative;
                margin: 0 auto;
                transition: all linear .35s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 25px;

                i {
                    font-size: 40px;
                    display: block;
                    transform: rotate(-45deg);
                    color: $success;
                    font-size: 50px;
                    transition: all linear .35s;
                }
            }

            &:hover {

                .iconbox {
                    transform: rotate(0deg);
                    transition: all linear .35s;
                    background-color: $primary;
                    border-color: $primary;

                    i {
                        transform: rotate(0deg);
                        transition: all linear .35s;
                        color: #fff;
                    }
                }
            }
        }
    }
}

/*animie*/

@keyframes anime-right1 {
    from {
        right: 5%;;
    }
    to {
        right: 10%;
    }
}

@keyframes anime-right2 {
    from {
        right: 10%;;
    }
    to {
        right: 5%;
    }
}
