.leftside-menu {
    .card {
        position: relative;
        overflow: hidden;

        .shape {
            width: 200px;
            height: 200px;
            background: $primary;
            opacity: 0.2;
            position: absolute;
            top: 0;
            right: -100px;
            border-radius: 40px;
            transform: rotate(45deg);
        }

        .nav-item {
            .nav-link {
                position: relative;
                padding-left: 35px;
                color: $dark;
                border-bottom: 1px solid rgba($color: $primary, $alpha: 0.3);
                border-left: 3px solid transparent;

                &::before {
                    content: "\FE59";
                    font-family: "Material Design Icons";
                    position: absolute;
                    left: 0;
                    padding-left: 15px;
                }

                &:hover,
                &.active {
                    color: $success!important;
                    font-weight: 600;
                    border-left: 3px solid $success;
                }
            }

            &:last-child {
                .nav-link {
                    border-bottom: 0;
                }
            }
        }
    }
}

.memberRegistration {
    .card {
        position: relative;
        overflow: hidden;
        .shape {
            width: 400px;
            height: 400px;
            background: $primary;
            opacity: 0.2;
            position: absolute;
            top: 0;
            right: -150px;
            border-radius: 80px;
            transform: rotate(45deg);
        }

        .ottp-body {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 100;
            background: rgba(0, 0, 0, 0.8);

            input {
                border: 1px solid #fff;
                border-radius: 0;
            }

            .btn {
                border-radius: 0;
            }

            th,
            td {
                color: #fff;
                padding: .225em;
            }
        }
    }
}

.memberLogin {
    .card {
        position: relative;
        overflow: hidden;

        .shape {
            width: 400px;
            height: 400px;
            background: $primary;
            opacity: 0.2;
            position: absolute;
            top: 0;
            right: -150px;
            border-radius: 80px;
            transform: rotate(45deg);
        }

        .ottp-body {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 100;
            background: rgba(0, 0, 0, 0.8);

            input {
                border: 1px solid #fff;
                border-radius: 0;
            }

            .btn {
                border-radius: 0;
            }

            th,
            td {
                color: #fff;
                padding: .225em;
            }
        }
    }
}

.memberRegistrationLogin {
    .card {
        position: relative;
        overflow: hidden;

        .shape {
            width: 400px;
            height: 400px;
            background: $primary;
            opacity: 0.2;
            position: absolute;
            top: 0;
            right: -150px;
            border-radius: 80px;
            transform: rotate(45deg);
        }
    }
}

.publications {
    .publications-card {
        .card {
            transform: scale(1.0);
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
            transition: all 0.3s cubic-bezier(0.17, 0.67, 0.54, 0.44);

            &:hover {
                transform: scale(1.02);
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
            }

            img {
                height: 200px;
                object-fit: contain;
            }

            .card-body {
                text-align: center;

                small {
                    color: $dark;
                    font-size: 13px;
                    font-weight: 600;
                }
            }
        }
    }
}

.side-card {
    h3 {
        font-size: 18px;
    }

    p {
        font-size: 13px;
    }
}

.card {
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 13px;
    }
}

.news {
    .card {
        min-height: 480px;
        img {
            height: 200px;
            object-fit: cover;
        }

        .card-body {
            h3 {
                min-height: 70px;
            }
            p {
                min-height: 120px;
            }
        }
    }
}

.member-services-header {
    overflow: hidden;
    border-top: 3px solid $success;
    .shape {
        width: 400px;
        height: 400px;
        background: $primary;
        opacity: 0.2;
        position: absolute;
        top: 0;
        right: -150px;
        border-radius: 80px;
        transform: rotate(45deg);
    }

    .nav {

        .nav-link {
            color: $dark;
            
            i {
                font-size: 20px!important;
            }

            .badge {
                font-size: 14px;
                background: $success;
                color: #fff;
            }

            .notify {
                position: relative;

                span {
                    background: rgba($color: $success, $alpha: 0.6);
                    color: #fff;
                    padding: 2px;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 0;
                    margin-left: 12px;
                    font-size: 11px;
                    margin-top: -12px;
                }
            }
        }
    }
}

.service-menu {
    .nav-link {
        color: $dark;
    }
}


.contact {
    .card {
        overflow: hidden;
        
        .shape {
            width: 400px;
            height: 400px;
            background: $primary;
            opacity: 0.2;
            position: absolute;
            top: 0;
            right: -150px;
            border-radius: 80px;
            transform: rotate(45deg);
        }
    }
}